/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	font-family: 'Source Sans Pro';
	font-size: 105%;
	line-height: 1.5em;

	background-color: #fdfdfd;
	color: #667;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 0.5em;
}
h6 {
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	margin-bottom: 1em;
}
p {
	font-family: 'Source Sans Pro';
	font-size: 1em;
	line-height: 1.6em;
	/*max-width: 35em;*/
	margin-bottom: 0.75em;
}
a {
	color: #44a1e0;
}
a:hover,
a:focus {
	color: #245672;
	text-decoration: none;
	outline: none;
}
figure img {
	display: inline-block;
	width: auto;
}
img {
	max-width: 100%;
	max-height: 80vh;
}
input:focus {
	outline: none;
}



/* --- extends bs --- */
.btn {
	max-width: 100%;
	padding: 8px 16px;
	background-color: #98ca7a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: transparent;
	color: #fff;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	font-weight: 600;
	white-space: inherit;
}
.btn:hover,
.btn:focus {
	background-color: #7eb25b;
	color: rgba(255, 255, 255, 0.9);
	border-color: transparent;
}
.btn-blue {
	background: #44a1e0;
	color: #fff;
}
.btn-blue:hover {
	background: #245672;
	color: #fff;
}
.btn-white {
	background: #fff;
	color: #44a1e0;
}
.btn-white:hover,
.btn-white:focus {
	background: #44a1e0;
	color: #fff;
}
.btn-outline {
	background: none;
	border: 1px solid #fff;
}
.btn-outline:hover,
.btn-outline:focus {
	background-color: #fff;
	color: #44a1e0;
}
.btn-blueoutline {
	background: none;
	border-color: #44a1e0;
	color: #44a1e0;
}
.btn-blueoutline:hover,
.btn-blueoutline:focus {
	background-color: #44a1e0;
}
.btn.btn-lg {
	padding: 10px 20px;
	font-size: 1.2em;
}



/* --- utilities --- */
.u-alignleft {
	text-align: left;
}
.u-alignright {
	text-align: right;
}
.u-aligncenter {
	text-align: center;
}
.u-mv10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.u-mv20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.u-mb10 {
	margin-bottom: 10px;
}
.u-mb20 {
	margin-bottom: 20px;
}
.u-mt5 {
	margin-top: 5px;
}
.u-mt10 {
	margin-top: 10px;
}
.u-mt20 {
	margin-top: 20px;
}
.u-mt30 {
	margin-top: 30px;
}
.u-mt40 {
	margin-top: 40px;
}
.u-ml5 {
	margin-left: 5px;
}
.u-ml10 {
	margin-left: 10px;
}
.u-ml20 {
	margin-left: 20px;
}
.u-mr10 {
	margin-right: 10px;
}
.u-mr20 {
	margin-right: 20px;
}
.u-pv10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.u-pv20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.u-pv40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.u-floatleft {
	display: inline-block;
	float: left;
}
.u-floatright {
	display: inline-block;
	float: right;
}
.u-floatcenter {
	display: inline-block;
	margin: 0 auto;
}
.u-inlineblock {
	display: inline-block;
}
.u-relative {
	position: relative;
}
.u-pinnedbottom {
	position: absolute;
	bottom: 0;
}
.u-maxWidth300 {
	max-width: 300px;
}



/* --- colors --- */
.c-white {
	color: white;
}



/* --- icons (extends ionicons) --- */
.ion-after:before {
	float: right;
	margin-left: 0.5em;
	line-height: 1.5em;
}
.ion-15x { font-size: 1.5em; line-height: 1em; }
.ion-2x { font-size: 2em; }
.ion-3x { font-size: 3em; }
.ion-5x { font-size: 5em; line-height: 1.2em; }
.ion-6x { font-size: 6em; line-height: 1.2em; }
.ion-fw {
	width: 1.2em;
	text-align: center;
}



/* --- Forms --- */
.field-group input {
	vertical-align: top;
}
.field-group input[type="text"],
.field-group input[type="email"] {
	max-width: 100%;
	min-width: 250px;
	padding: 8px 16px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: transparent;
	color: #44a1e0;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	font-weight: 600;
	line-height: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.field-group input[type="text"]:focus,
.field-group input[type="email"]:focus {
	background-color: #fff;
}
.field-group input[type="submit"] {
	font-family: "Ionicons";
}



/* --- layout --- */
.row {
	max-width: 1000px;
	margin: 0 auto;
}
section, footer {
	padding: 100px 0;
}



/* --- header --- */
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	background-color: #44a1e0;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
header.isTransparent {
	background-color: transparent;
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(36, 86, 114, 0.25)));
  background: -webkit-linear-gradient(top, rgba(36, 86, 114, 0.25), transparent);
  background: -moz-linear-gradient(top, rgba(36, 86, 114, 0.25), transparent);
  background: -ms-linear-gradient(top, rgba(36, 86, 114, 0.25), transparent);
  background: -o-linear-gradient(top, rgba(36, 86, 114, 0.25), transparent);
}
header .col-xs-12:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
header .logo {
	display: inline-block;
	padding-top: 18px;
}
header .logo h1 {
	display: inline-block;
	float: left;
	margin: 5px 0 0 10px;
	color: #fff;
	font-size: 2em;
	vertical-align: top;
}
header .nav-button {
	display: none;
	float: left;
	width: 32px;
	color: rgba(255, 255, 255, 0.75);
	padding: 18px 0 12px;
	padding-right: 10px;
	text-align: center;
}
header .nav-button .ion-android-close {
	display: none;
	margin-top: 5px;
}



/* --- nav --- */
nav {
	float: right;
	text-align: right;
}
nav ul {
	display: inline-block;
}
nav ul li {
	display: inline-block;
	float: left;
}
nav ul a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	color: #fff;
	font-weight: 400;
	line-height: 30px;
}
nav ul a.active {
	font-weight: 700;
}
nav ul a.active:hover {
	color: #fff;
}
nav #menu_action a {
	margin: 14px 2px;
	padding: 8px 16px;
	background-color: #98ca7a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
nav #menu_action a:hover,
nav #menu_action a:focus {
	background-color: #7eb25b;
	color: rgba(255, 255, 255, 0.9);
}



/* --- language switcher --- */
#language_switcher {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	opacity: 0.8;
	z-index: 10;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#language_switcher:hover,
#language_switcher:focus {
	opacity: 1;
}
#language_switcher a {
	color: #fff;
	font-weight: normal;
}
#language_switcher a:hover,
#language_switcher a:focus {
	border-bottom: 1px solid #fff;
}



/* --- panel --- */
.panel {
	padding: 20px;
	background-color: #98ca7a;
	border-color: transparent;
	color: #fff;
}
.panel a {
	color: rgba(255, 255, 255, 0.8);
}
.panel a:hover,
.panel a:focus {
	color: #fff;
}


/* --- content --- */
#intro {
	max-height: 80vh;
	padding-top: 16vh;
	background: url('../images/banner_city.png') no-repeat bottom;
	background-size: contain;
	background-color: #44a1e0;
	color: #fff;
}
#intro h6 {
	display: none;
}
#intro h1 {
	font-size: 2.5em;
	margin-top: 1em;
	margin-bottom: 5vh;
}
#intro h3 {
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.5em;
}
section:nth-child(3) {
	background-color: #f0f0f7;
}
section:nth-child(4) {
	background-color: #e6e6ed;
}
section:nth-child(5) {
	background-color: #dfdfe5;
}
section:nth-child(6) {
	background-color: #d7d7de;
}
.home #intro {
	min-height: 600px;
	min-height: 80vh;
	padding: 15vh 0;
	background-color: #44a1e0;
	background-size: cover;
	background-position: center 15%;
	background-attachment: fixed;
}



/* --- template: action --- */
section.action {
	/*background-color: #7eb25b;*/
	background-color: #98ca7a;
	text-align: center;
}
section.action h1, section.action h2, section.action h3, section.action h4, section.action h5, section.action h6, section.action p {
	color: #fff;
}
section.action .btn {
	background-color: #fff;
	color: #245672;
}
section.action .btn:hover,
section.action .btn:focus {
	background-color: #eef;
}
section.action .well {
	display: inline-block;
	padding: 20px 40px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	color: rgba(0, 0, 0, 0.5);
}
section.action .well p {
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	margin-bottom: 0;
}
section#iletisim {
	background-color: #245672;
	color: #fff;
	text-align: center;
}
section#iletisim a:not(.btn):hover {
	color: #aad5f2;
}



/* --- image slider --- */
/*.image-slider {
	position: relative;
	overflow: hidden;
}
.image-slider .slides {
	white-space: nowrap;
}
.image-slider figure {
	position: relative;
	display: inline-block;
	margin-right: -0.2em;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
}
.image-slider .image-counter {
	position: absolute;
	bottom: 0;
	width: 100%;
}*/
.slidesjs-pagination {
	text-align: center;
}
.slidesjs-pagination li {
	display: inline-block;
}
.slidesjs-pagination li a {
	display: block;
	padding: 5px 10px;
	color: #cccccc;
}
.slidesjs-pagination li a:hover,
.slidesjs-pagination li a:focus {
	color: inherit;
}
.slidesjs-pagination li a.active {
	color: #44a1e0;
}



/* --- footer --- */
footer {
	background-color: #143040;
	color: #fff;
}



/* --- media queries --- */
@media screen and (min-width: 768px) and (max-width: 1000px) {
	.extended {
		display: none;
	}
	nav ul a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 0.9em;
	}
}
@media screen and (max-width: 767px) {
	.extended {
		display: none;
	}
	header .logo {
		text-align: center;
		padding: 10px;
	}
	header .nav-button {
		display: inline-block;
	}
	header .logo {
		display: inline-block;
		float: left;
		margin-top: 10px;
	}
	header.isExpanded .nav-button .ion-android-close {
		display: block;
	}
	header.isExpanded .nav-button .ion-navicon {
		display: none;
	}
	nav #menu {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		width: 100%;
		background-color: #44a1e0;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	nav #menu li {
		display: block;
		float: none;
	}
	nav #menu li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	header.isExpanded #menu {
		display: block;
	}
	nav #menu_action {
		float: right;
	}
	nav #menu_action a {
		margin: 15px 0;
		padding: 7px 10px;
	}
	nav ul a {
		padding: 10px 10px;
	}
	#intro {
		max-height: inherit;
	}
}